@font-face {
    font-family: 'SF Pro Display', sans-serif;
    src: url('fonts/SFProDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
    background-color: #f2b3c0; /* Set background color */
}

#swf-container {
    width: 100%;
    max-width: 800px;
    height: 600px;
    border: 1px solid #ffffff;
    margin: 20px auto;
    background-color: #f2b3c0;
    position: relative;
}
.buttons {
    text-align: center;
    margin-bottom: 20px;
}
button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f36a85;
    border: 2px solid white; /* Add a solid white border */
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
}

#fullscreen-toggle {
    display: block;
    margin: 10px auto;
}
.footer-text {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
}
.centered-line {
    text-align: center;
    margin-top: 20px;
}
.social-icon {
    margin: 0 10px;
    font-size: 24px;
    color: #f36a85;
    text-decoration: none;
}
h3 {
    color: #f36a85; /* Set text color for h3 elements */
}
a {
    color: #f36a85; /* Set link color */
    text-decoration: none; /* Remove underline from links */
}
a:hover {
    text-decoration: underline; /* Underline links on hover */
}
.outlined-text {
    text-shadow: 
        -2px -2px 0 white,  /* Top-left */
        0px -2px 0 white,   /* Top */
        2px -2px 0 white,   /* Top-right */
        -2px 0px 0 white,   /* Left */
        2px 0px 0 white,    /* Right */
        -2px 2px 0 white,   /* Bottom-left */
        0px 2px 0 white,    /* Bottom */
        2px 2px 0 white;    /* Bottom-right */
}
.spacer {
    color: #f2b3c0; /* Match background color */
  }